:root {
  --primary: #b6895b;
  --bg: #000000;
}

* {
font-family: Arial, Helvetica, sans-serif;
line-height: 20px;
font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

p {
  margin:20px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #fff;
}
.layar-dalam {
  width: 1000px;
  margin: auto;
}
.layar-penuh {
  width: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav {
  margin-left: 500px;
}

.navbar .navbar-nav a {
  color: #000000;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #000000;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #f5f6f6;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
  background-color: #f5f6f6;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* Shopping Cart */
#shopping-cart-button{
  position: relative;
}

#shopping-cart-button .quantity-badge{
  display: inline-block;
  padding: 1px 5px;
  background-color: red;
  border-radius: 6px;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  right: -10px;
}
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh; 
  width: 35rem;
  max-height: 80vh; 
  overflow-y: auto; 
  padding: 0 1.5rem;
  background-color: #f5f6f6;
  color: var(--bg);
  transition: 0.3s;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart img {
  height: 6rem;
  width: 6rem;
  object-fit: cover;
}

.shopping-cart h3 {
  font-size: 1.4rem;
}

.shopping-cart .item-price {
  font-size: 1.2rem;
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
 display: inline-block;
 padding: 2px 5px;
 cursor: pointer;
 margin: 0 8px;
 background-color: black;
 color: white;
 font-weight: bold;
 font-size: 1.1rem;
}
.shopping-cart h4{
 font-size: 1.6rem;
 margin-top: -1rem;
 text-align: center;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px dashed black;
  margin-top: 1rem;
  padding: 1rem;
}
 
.form-container h5 {
  text-align: center;
  font-size: 1rem;
}
.form-container form {
  width: 100%;
  text-align: center;
}

.form-container label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.form-container span {
  text-align: right;
}

.form-container input {
  background-color: #add;
  padding: 5px;
  font-size: 1rem;
  width: 70%;
}

.form-container .checkout-button {
  padding: 6px 14px;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 20px;
  margin: 1rem auto;
  cursor: pointer;
}
.form-container .checkout-buttom.disabled {
  background-color: #999;
  cursor: not-allowed;
  }

/* pengaturan header */
header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}
header video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -2;
}
header .intro {
  z-index: 100;
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
}
header .intro h3 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}
.tombol {
  background-color: #c86b85;
  height: 40px;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0px 20px 0px 20px;
  font-size: 15px;
  border-radius: 4px;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 50%;
  z-index: -1;
}
section {
  padding: 50px 0px 50px 0px;
}
section h3 {
  font-size: 30px;
}
section h3::after {
  content: "";
  border-bottom: 5px solid #c86b85;
  width: 52px;
  display: block;
  margin: 20px auto;
}
section.abuabu {
  background-color: #f5f6f6;
}
#aboutus,
#blog ,
#contact{
text-align: center;
color: #000;
background-color: #ffffff;
}
section p.ringkasan {
font-style: italic;
font-size: 18px;
color: #ababab;
}
section .konten-isi p {
font-style: normal;
}

.support,
.blog,
.contact {
display: flex;
flex-direction: row;
justify-content: space-around;
color: #000;
}
.support h6
{
margin: 0px;
margin-top: 20px;
padding: 0px;
font-size: 18px;
font-weight: bold;
color: #000;
}
.support img {
width: 100px;
}
.support div,
.tim div {
text-align: center;
width: 26%;
}
/* pengaturan contact */
#contact h3{
text-align: center;
margin-top: 30px;
}
#contact p{
text-align: center;
}
.contact .row {
box-shadow: 0px -10px 30px #ccc;
border-radius: 5px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.contact div.row div {
width: 50%;
}
.contact .row .map {
border-radius: 5px 0px 0px 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 500px;
width: 970px;
margin: 20px;
}
section.quote {
background: url("asset/sea3.png") no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
text-align: center;
color: #fff;
font-size: 20px;
font-style: italic;
padding: 100px;
}
section.quote .layar-dalam p {
display: inline;
background: url("asset/quote-icon.png") no-repeat;
padding: 40px;
}

.blog .area {
width: 47%;
box-shadow: 0px -10px 30px #ccc;
border-radius: 5px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.blog div.area div {
width: 50%;
}
.blog .area .gambar {
border-radius: 5px 0px 0px 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 300px;
}
.blog .area .text article {
padding: 40px;
}
.blog .area .text article h4 {
margin: 0px;
}
.blog .area .text article a {
color: #333;
text-decoration: none;
transition: color 0.5s ease;
}
.blog .area .text article a:hover {
color: #ccc;
}

.products h2 {
text-align: center;
font-size: 2.6rem;
margin-bottom: 3rem;
}
.products h1{
font-size: 2rem;
text-align: left;
color: #000;
margin-top: 20px;
}
.products h2 span {
color: var(--primary);
color: #000000;
}
.products {
padding: 8rem 7% 1.4rem;
}
.products h2 {
margin-bottom: 1rem;
color: #000000;
}
.products p {
text-align: center;
max-width: 30rem;
margin: auto;
font-weight: 100;
line-height: 1.6;
color: #000000;
}


/* Products Section */
#products.products{
background-color: #fff;
}

.products .row {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
gap: 1.5rem;
margin-top: 2rem;
}

.products .product-card {
text-align: center;
height: 30rem;
width: 20rem;
border: 1px solid #666;
padding: 2rem;
background-color: #f5f6f6;
}
.product-card a{
color: #000;
margin-left: 180px;
}

.products .product-icons {
display: flex;
justify-content: center;
gap: 0.5rem;
}

.products .product-icons a {
width: 4rem;
height: 4rem;
color: #000000;
margin: 0.3rem;
border: 1px solid #666;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.products .product-icons a:hover {
background-color: var(--primary);
border: 1px solid var(--primary);
}

.products .product-image {
padding: 1rem 0;
}

.products .product-image img {
width: 15rem;
height: 15rem;
}

.products .product-content h2 {
font-size: 2rem;
color: #000;
}

.products .product-stars {
font-size: 1.7rem;

color: #666;
}

.products .product-stars .star-full {
fill: var(--primary);
}

.products .product-price {
font-size: 1.3rem;
font-weight: bold;
color: #000;
}

.product-stars .fas.fa-star {
color: #bba937; /* Ganti dengan warna yang Anda inginkan */
}

.product-stars .far.fa-star {
color: #d3d3d3; /* Ganti dengan warna yang Anda inginkan untuk bintang kosong */
}

.product-content .fas.fa-shopping-cart {
color: black;
font-size: 2rem; /* Ganti dengan warna yang Anda inginkan */
}

#ch {
  display: none;
}
#ch:checked ~ .readmore {
  display: block;
}
#ch:checked ~ label {
  display: none;
}
.readmore{
  display: none;
}
.card {
  background-color: #ffffff;
}
.card label{
  display: inline;
  cursor: pointer;
  color: #000;
  background-color: #c86b85;
  padding: 3px 13px;
  border-radius: 4px;
  font-size: 20px;
  margin-left: 540px;
}


footer {
padding: 50px 0px 50px 0px;
background-color: #343a40;
color: #fff;
}

footer .layar-dalam {
display: flex;
flex-direction: row;
justify-content: space-between;
}
footer .layar-dalam div {
width: 20%;
}
footer .layar-dalam h5 {
margin-top: 0px;
font-size: 20px;
font-weight: bold;
}
footer .layar-dalam .copyright {
width: 100%;
margin-top: 30px;
padding-top: 30px;
border-top: 1px solid #666;
text-align: center;
}

/* Modal Box */
/* Item Detail */
.modal {
display: none;
position: fixed;
z-index: 9999;
left: 0;
top: 0;
width: 100%;
height: 104%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
position: relative;
background-color: #fefefe;
color: var(--bg);
margin: 15% auto;
padding: 1.2rem;
border: 1px solid #666;
width: 80%;
animation: animateModal 0.5s;
}

/* Modal Animation */
@keyframes animateModal {
from {
  top: -300px;
  opacity: 0;
}
to {
  top: 0;
  opacity: 1;
}
}

.modal-container .close-icon {
position: absolute;
right: 1rem;
}

.modal-content {
display: flex;
flex-wrap: nowrap;
}

.modal-content img {
height: 20rem;
margin-right: 2rem;
margin-bottom: 2rem;
}

.modal-content p {
font-size: 1.2rem;
line-height: 1.8rem;
margin-top: 1.2rem;
}

.modal-content a {
display: flex;
gap: 1rem;
width: 12rem;
background-color: var(--primary);
color: #fff;
margin-top: 1rem;
padding: 1rem 1.6rem;
}

@media screen and (max-width: 991.98px) {
.layar-dalam {
  width: 90%;
}
.contact .row {
  flex-wrap: wrap;
  height: 300px;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  height: 85%;
  object-fit: cover;
}

.blog .area {
  display: block;
}
.blog div.area div {
  width: 100%;
}
.blog .area .gambar {
  border-radius: 5px 5px 0px 0px;
  height: 200px;
}
.support {
  display: block;
}
.support div {
  width: 100%;
  padding-bottom: 30px;
}
.card label{
  margin-left: 320px;
}
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
html {
  font-size: 75%;
}
}

/* Tablet */
@media (max-width: 758px) {
html {
  font-size: 62.5%;
}

#hamburger-menu {
  display: inline-block;
}

.navbar .navbar-nav {
  position: absolute;
  top: 100%;
  right: -100%;
  background-color: #fff;
  width: 30rem;
  height: 100vh;
  transition: 0.3s;
}

.navbar .navbar-nav.active {
  right: 0;
}

.navbar .navbar-nav a {
  color: var(--bg);
  display: block;
  margin: 1.5rem;
  padding: 0.5rem;
  font-size: 2rem;
}

.navbar .navbar-nav a::after {
  transform-origin: 0 0;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.2);
}

.navbar .search-form {
  width: 90%;
  right: 2rem;
}

.about .row {
  flex-wrap: wrap;
}

.about .row .about-img img {
  height: 24rem;
  object-fit: cover;
  object-position: center;
}

.about .row .content {
  padding: 0;
}

.about .row .content h3 {
  margin-top: 1rem;
  font-size: 2rem;
}

.about .row .content p {
  font-size: 1.6rem;
}

.menu p {
  font-size: 1.2rem;
}

.contact .row {
  flex-wrap: wrap;
  height: 300px;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  height: 85%;
  object-fit: cover;
}

.contact .row form {
  padding-top: 0;
}

.modal-content {
  flex-wrap: wrap;
}
.product-card a{
  font-size: 0;
  color: #000;
  margin-left: 140px;
  }
  .products .product-card {
    height: 32rem;
    width: 20rem;
    }
    .card label{
      margin-left: 190px;
    }
}

/* Mobile Phone */
@media (max-width: 450px) {
html {
  font-size: 55%;
}

}